{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login — CloudChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>

<div class="container">
    <h2>Welcome Back</h2>

    {% if error %}
        <p class="error-msg">{{ error }}</p>
    {% endif %}

    <form method="POST" autocomplete="off">
        {% csrf_token %}

        <input type="text"     name="username" placeholder="Username"
               autocomplete="new-password" required>

        <input type="password" name="password" placeholder="Password"
               autocomplete="new-password" required>

        <button type="submit">Login →</button>
    </form>

    <div class="auth-links">
        <a href="{% url 'forgot_password' %}">Forgot Password? here</a>
        <a href="{% url 'register' %}">Create new account</a>
    </div>
</div>

</body>
</html>
